/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
.theme-dark {
    --bg-pattern: url("/svg/pattern-dark.svg");
    --bg-color: #000;
    --accent-color: #00CC14;
    --bold-weight: 785;
    --normal-weight: 465;

    --shadow-color: #000;
    --gradient-color: #000;
    --gradient-top: #007F0C;
    --gradient-down: #004306;
    --bg-gradient: 
        repeating-linear-gradient(90deg, var(--gradient-color) 0, var(--gradient-color) 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(var(--gradient-color) 0, var(--gradient-color) 2px, transparent 2px, transparent 4px),
        linear-gradient(var(--gradient-top), var(--gradient-down));
}

.theme-light {
    --bg-pattern: url("/svg/pattern-light.svg");
    --bg-color: #FFF;
    --accent-color: #000;
    --bold-weight: 700;
    --normal-weight: 400;

    --shadow-color: #FFF;
    --gradient-color: #D3D3D3;
    --gradient-top: #E7E7E7;
    --gradient-down: #1A1A1A;
    --bg-gradient: 
        repeating-linear-gradient(90deg, var(--gradient-color) 0, var(--gradient-color) 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(var(--gradient-color) 0, var(--gradient-color) 2px, transparent 2px, transparent 4px),
        linear-gradient(var(--gradient-top), var(--gradient-top) 0.01%, var(--gradient-down));
}


@media (prefers-color-scheme: dark) {
    :root {
    --bg-pattern: url("/svg/pattern-dark.svg");
    --bg-color: #000;
    --accent-color: #00CC14;
    --bold-weight: 785;
    --normal-weight: 465;

    --gradient-color: #000;
    --gradient-top: #007F0C;
    --gradient-down: #004306;
    --bg-gradient: 
        repeating-linear-gradient(90deg, var(--gradient-color) 0, var(--gradient-color) 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(var(--gradient-color) 0, var(--gradient-color) 2px, transparent 2px, transparent 4px),
        linear-gradient(var(--gradient-top), var(--gradient-down));
    }
}